//
// Mark Card
//

@import "styles/styles";

.mark-card {
  @include flex-center;

  @include size(100%);

  cursor: pointer;

  overflow: hidden;

  background-color: white;

  padding: 32px 20px;

  border-radius: 30px;

  transition: all 0.3s ease;
  @include hoverer('box-shadow', 0px -2px 30px 6px rgba(white, 0.11), 0px -2px 30px 6px rgba(white, 0.2));

  :nth-child(11),
  :nth-child(12),
  :nth-child(13),
  :nth-child(14),
  :nth-child(15),
  :nth-child(16),
  :nth-child(17),
  :nth-child(18),
  :nth-child(19),
  :nth-child(20) {
    padding: 0;
    opacity: 0;
    transform: scale(0);
  }

  &.open {
    :nth-child(11),
    :nth-child(12),
    :nth-child(13),
    :nth-child(14),
    :nth-child(15),
    :nth-child(16),
    :nth-child(17),
    :nth-child(18),
    :nth-child(19),
    :nth-child(20) {
      padding: 32px 20px;
      opacity: 1;
      transform: scale(1);
    }
  }
}
