//
// Pagination
//

@import "styles/styles";

.pagination {
  @include flex-center;
}

.pagination-item {
  margin-left: 10px;
  padding: 5px;

  text-decoration: none;

  @media (max-width: 767px) {
    padding: 10px 15px;
  }
  &:first-child {
    margin-left: 0;
  }

  cursor: pointer;
  color: black;

  @include font-size(18px);
  @media (max-width: 767px) {
    @include font-size(20px);
  }
  &--active {
    @include font(20px, 800);
    @media (max-width: 767px) {
      @include font(22px, 800);
    }
  }
}
